		</td>
		
		
	</tr>
	
	<tr>
		<td align="center" colspan="2">
			<#if session?exists && session.isAdmin()><span class="gen"><a id="adminpanel" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></span></#if>
		</td>
	</tr>

	<tr>
		<td align="center" colspan="2">
			<span class="copyright">Powered by <a class="copyright" href="http://www.jforum.net/" target="_blank">JForum ${version}</a> &copy; <a class="copyright" href="http://www.jforum.net/team.jsp" target="_blank">JForum Team</a></span>
		</td>
	</tr>
</table>

<#if hasCodeBlock>
	<#include "highlighter_js.htm"/>
</#if>

<!-- OAS AD 'x01' begin -->
<SCRIPT LANGUAGE="JavaScript">
<!--
OAS_AD('x01');
//-->
</SCRIPT>
<!-- OAS AD 'x01' end -->

<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no"></iframe>
  <div id="footer">
  	<p class="footer-item">
  		Apoiado e desenvolvido por <a href="http://www.caelum.com.br">Caelum Cursos Java</a> - GUJ: desde 2002 <br /> 
	</p>
  	<p class="footer-item">
	  	<a href="http://www.casadocodigo.com.br">Conhe&ccedil;a tamb&eacute;m os livros da Casa do C&oacute;digo</a>&nbsp;<br/>
	</p>
  	<p class="footer-item">
		Tags do novo GUJ Respostas:
	</p>

	<div class="footer-item">
		<ol class="main-tags">
			<li><a class="main-tag" href="/tag/java">java</a></li>
			<li><a class="main-tag" href="/tag/android">android</a></li>
			<li><a class="main-tag" href="/tag/c%23">c#</a></li>
			<li><a class="main-tag" href="/tag/.net">.net</a></li>
			<li><a class="main-tag" href="/tag/javascript">javascript</a></li>
			<li><a class="main-tag" href="/tag/php">php</a></li>
			<li><a class="main-tag" href="/tag/jquery">jquery</a></li>
			<li><a class="main-tag" href="/tag/html">html</a></li>
			<li><a class="main-tag" href="/tag/sql">sql</a></li>
		</ol>
	</div>
 </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-132222-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>