<#import "../macros/bookmarkableLink.ftl" as bookmarkable/>

<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("en_US")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>

<#assign adsenseCodes = {
        "posts2":1261842631, <#-- Assuntos gerais (Off-topic) -->
        "posts4":1058692035, <#-- Java Básico -->
        "posts5":1145346990, <#-- Java Avançado -->
        "posts6":1701924132, <#-- Java e Desenvolvimento Web -->
        "posts17":8613875243, <#-- Notícias -->
        "posts11":0062583420, <#-- Certificação Java -->
        "posts12":0114837211, <#-- Padrões, Arquiteturas e Projetos -->
		"posts18":5791791724 <#-- Ferramentas -->
}/>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}" />
<meta name="description" content="GUJ - O portal de desenvolvedores do Brasil">

<meta property="og:title" content="GUJ - O portal de desenvolvedores do Brasil">
<meta property="og:site_name" content="guj.com.br">
<meta property="og:url" content="http://www.guj.com.br">
<meta property="og:type" content="forum">
<meta property="og:image" content="http://www.guj.com.br/imgs/guj-logo.png">

<script type="text/javascript">var p="http",d="static";if(document.location.protocol=="https:"){p+="s";d="engine";}var z=document.createElement("script");z.type="text/javascript";z.async=true;z.src=p+"://"+d+".adzerk.net/ados.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(z,s);</script>
<script type="text/javascript">
	var ados = ados || {};
	ados.run = ados.run || [];
	ados.run.push(function() {
		/* load placement for account: caelum, site: guj, size: 728x90 - Leaderboard*/
		ados_add_placement(7120, 49043, "postBanner", 4);
		/* load placement for account: caelum, site: guj, size: 300x250 - Medium Rectangle*/
		ados_add_placement(7120, 49043, "medRectangleAd", 5);
		/* load placement for account: caelum, site: guj, size: 300x250 - Medium Rectangle*/
		ados_add_placement(7120, 49043, "adSideBar", 5);
		// para o futuro:
		//ados_setKeywords('java, hibernate, jsf'); 
		ados_load();
	});
</script>
<link href="${contextPath}/stylesheets/guj3.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css?${startupTime} );</style>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/${language}.css?${startupTime} );</style>
<script type="text/javascript" src="${contextPath}/javascripts/jquery-1.3.1.min.js?${startupTime}"></script>
<script type="text/javascript" src="${contextPath}/javascripts/jquery.corners.min.js?${startupTime}"></script>
<!--[if IE]>
<link href="${contextPath}/stylesheets/guj3-ie.css?${startupTime}" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
  
<script type="text/javascript">
$().ready(function() {
	$("#returnPath").val(document.location);
	
	if (!$.browser.msie && navigator.userAgent.indexOf("Chrome") == -1 && navigator.userAgent.indexOf("Firefox/4") == -1) {
		$("table, table th").corners("6px");
	}
});
</script>

<#if hasCodeBlock>
	<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/SyntaxHighlighter.css?${startupTime} );</style>
</#if>

<title>${pageTitle?default("JForum")?html}</title>
<#if topic??>
	<#if JForumContext.request.getAttribute("bookmarkableURIBeforeForward")??>
		<#assign correctBookmarkableURI><@bookmarkable.bookmarkableLink topic.id, topic.title/></#assign>
		<#assign requestURIBeforeForward = JForumContext.request.getAttribute("bookmarkableURIBeforeForward") />
		<#assign requestPageBeforeForward = JForumContext.request.getAttribute("requestedTopicPageBeforeForward") />
	
		<#if (correctBookmarkableURI + requestPageBeforeForward) != requestURIBeforeForward>
			<link rel="canonical" href="<@bookmarkable.bookmarkableLink topic.id, topic.title/>${JForumContext.request.getAttribute("requestedTopicPageBeforeForward")}"/>
		</#if>
	</#if>
</#if>

</head>
<body class="${language}">
	
	<div id="header">
	    <div class="container1">
	      <div class="container2">
	        <a href="${contextPath}/" id="logo">GUJ</a>
	        <nav class="nav main-nav piped-nav">
				<ul class="nav-items">
					<li class="nav-item">
						<a class="button" href="/">
							Perguntas
						</a>
					</li><!--
					--><li class="nav-item menu-unanswered">
						<a class="button" href="/sem-respostas">
							Sem respostas
						</a>
					</li><!--
					--><li class="nav-item menu-rank">
						<a class="button" href="/ranking">
							Usu&aacute;rios
						</a>
					</li><!--
					--><li class="nav-item">
						<a class="button" href="/noticias">
							Not&iacute;cias
						</a>
					</li><!--
					--><li class="nav-item">
						<a class="button current" href="/forums/list.java">
							<span class="menu-title">Discuss&otilde;es</span>
							<span class="menu-subtitle">Antigo F&oacute;rum</span>
						</a>
					</li><!--
					--><li class="ask nav-item">
						<a class="button" href="/perguntar">
							Pergunte
						</a>
					</li>
				</ul>
			</nav>
	      </div>
	    </div>
	  </div>

<div id="menu">
	<div class="container1">
		<div class="container2">
			<#if !logged && !sso>
			  GUJ Forum. <a href="${JForumContext.encodeURL("/user/insert")}" style="color: #21571F; font-weight: bold;">Crie seu login</a>, 
	          ou digite-o para logar no site.

	          <form class="login" action="${contextPath}/jforum.java?module=user&action=validateLogin" method="POST">
	            <input type="hidden" name="returnPath" id="returnPath" value="" />
	            Usu&aacute;rio: <input class="campo" name="username" size="8" tabindex="3" />
				Senha: <input class="campo" style="border: 0px;" type="password" size="8" name="password" tabindex="4" />
	            <input type="submit" class="botao" tabindex="5" name="login" value="Entrar">
	          </form>
			</#if>
			
			<#if logged>
				<ul>
					<li>
						<a id="myprofile" href="${JForumContext.encodeURL("/user/edit/${session.userId}")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_profile.gif" border="0" alt="[Profile]" /> MEUS DADOS</a>
					</li><!-- 
					 --><li>
						<a id="privatemessages" href="${JForumContext.encodeURL("/pm/inbox")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" border="0" alt="[Message]" />
							MENSAGENS PRIVADAS (${session.privateMessages})
						</a>
					</li><!-- 
					 --><li>
		                <a id="mymessages" href="${JForumContext.encodeURL("/posts/listByUser/${session.userId}")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" border="0" alt="Minhas Mensagens" />
		                   MINHAS MENSAGENS
		                </a>
	                </li><!-- 
					 --><li>
	                	<a id="favorites" href="${JForumContext.encodeURL("/bookmarks/list/${session.userId}")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" border="0" alt="Favoritos" />
	                   FAVORITOS
	                	</a>
	                </li>
				

				<#if !sso>
					<li>
						<a id="logout" href="${JForumContext.encodeURL("/user/logout")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_login.gif" border="0" alt="[Login]" /> LOGOUT [${session.username}]</a>
					</li>
				</#if>
				</ul>
			</#if>
			
			<form id="cse-search-box" class="busca" action="${contextPath}/search">
			    <input type="hidden" name="cx" value="partner-pub-9448585618971060:4001950301" />
			    <input type="hidden" name="cof" value="FORID:10" />
			    <input type="hidden" name="ie" value="UTF-8" />
			    <input class="campo_rounded" type="text" name="q" size="31" tabindex="1" />
			    <input type="submit" class="botao" tabindex="2" value="OK">
			</form>
			<script type="text/javascript" src="http://www.google.com.br/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
		
			<iframe class="facebook-curtir" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FGUJ.com.br&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
</div>

<div class="container">
	<table class="first-content" border="0">
		<tr>
			<td width="100%">

