<li><a class="main-tag" href="/tag/java">java</a></li>
<li><a class="main-tag" href="/tag/android">android</a></li>
<li><a class="main-tag" href="/tag/c%23">c#</a></li>
<li><a class="main-tag" href="/tag/.net">.net</a></li>
<li><a class="main-tag" href="/tag/javascript">javascript</a></li>
<li><a class="main-tag" href="/tag/php">php</a></li>
<li><a class="main-tag" href="/tag/jquery">jquery</a></li>
<li><a class="main-tag" href="/tag/html">html</a></li>
<li><a class="main-tag" href="/tag/sql">sql</a></li>